@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "./variables";
.record-list-container {
  .record-list {
    background: url("https://wallpapercave.com/wp/wp6908208.png") center/cover
      fixed;
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    margin: auto;
    width: 100vw;
    height: 91vh;
    color: $main-white;
    .record {
      font-family: "Bebas Neue", sans-serif;

      font-size: 1.2rem;
      width: 250px;
      height: 250px;
      border: 1px solid $main-white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      margin-top: 5%;
      -webkit-text-stroke: 1px $main-black;
      .rec-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .rec-title {
        text-align: center;
      }
    }
  }
}
